---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm mohammad a software developer...",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hi there 👋</p>
		<p>
			I am Mohammad, a full-stack software engineer with expertise in machine learning.
			When I'm not working, I like to watch movies and read books.
		</p>
		<h2 class="title">Currently learning:</h2>
		<ul class="list-inside list-disc">
			<li><s>Python</s></li>
			<li><s>Data Science (NumPy, Pandas)</s></li>
			<li><s>Machine learning (sklearn)</s></li>
			<li><s>Deep learning (torch, cuda)</s></li>
			<li>MLOps</li>
		</ul>
		<p>last update: <i>2024-08-18</i></p>
	</div>
</PageLayout>
