---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Find the best place to work for the next few hours.",
		href: "https://cozycorner.ir",
		title: "Cozy Corner",
	},
	{
		desc: "Streamline vehicle service management with a user-friendly platform.",
		href: "https://onlinetaviz.ir",
		title: "Online Taviz",
	},
	{
		desc: "A poweried-AI application to create images from text.",
		href: "https://github.com/mohammadhprp/what-if",
		title: "What If?",
	},
	{
		desc: "E-commerce with Django REST Framework.",
		href: "https://github.com/mohammadhprp/smartStore",
		title: "Smart Store",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi, I'm Mohammad, a human full-stack software engineer with expertise in machine learning.
			When I'm not coding, I enjoy delving into the captivating worlds of movies and books.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
